---
const { title, body, picture, name, profesion, size } = Astro.props;

const getWidth = () => {
  // Check if the screen width is below 640 pixels (commonly considered mobile width)
  const isMobile = typeof window !== 'undefined' && window.innerWidth < 640;

  switch (size) {
    case "large":
      return isMobile ? "349px" : "449px";
    case "medium":
      return isMobile ? "249px" : "349px";
    case "small":
      return isMobile ? "251px" : "351px";
    default:
      return isMobile ? "249px" : "349px"; // default to medium if size is not provided or invalid
  }
};

//add responsiveness to the card width
---

<article class="flex flex-col gap-y-4" style={{ width: getWidth() }}>
  <h4>{title}</h4>
  <p>
    <span>“</span>
    {body}
  </p>
  <div class="flex items-center gap-x-4">
    <img src={picture} />
    <div>
      <p class="hyperlink">{name}</p>
      <p class="subtitle profesion">{profesion}</p>
    </div>
  </div>
</article>

<style>
  article {
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 2rem;
    background-color: white;
  }
  h4 {
    color: var(--pink);
  }
  span {
    color: var(--subPink);
    font-size: 48px;
  }
  p {
    color: black;
  }
  .profesion {
    font-size: 14px;
  }
</style>
